<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD KARO</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    
</head>
<body>
    <header id="header">
        <nav>
            <dic class="container">
                <div class="text-center">
                    <a href="/" class="nav-brand text-dark">List of items</a>
                </div>
            </dic>
        </nav>
    </header>

    <main id="main-site">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/list"><i class="fas fa-angle-double-left"></i> All items</a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">Update Item</h2>
                <span>Fill the details to update item to the inventory:</span>
            </div>

            <form action="/list" method="PUT" id="update_item">
               <div class="new_item">
                   <div class="form-group">
                       <label for="name" class="text-dark">Name</label>
                       <input type="hidden" name="id" value="<%= item._id%>">
                       <input type="text" name="name" value="<%= item.name%>" placeholder="vaibhav">
                   </div>
                   <div class="form-group">
                       <label for="item-no" class="text-dark">Item No.</label>
                       <input type="text" name="item-no" value="<%= item.id%>" placeholder="s107">
                   </div>
                   <div class="form-group">
                       <label for="price" class="text-dark">Net Price</label>
                       <input type="number" name="price" value="<%= item.price%>" placeholder="$20">
                   </div>
                   <div class="form-group">
                       <label for="stock" class="text-dark">In stock</label>
                       <input type="number" name="stock" value="<%= item.stock%>" placeholder="N">
                   </div>
                   <div class="form-group">
                    <label for="inputTag" class="text-dark taking-img">
                        Select Image 
                        <i class="fa fa-2x fa-camera"></i>
                        <input id="inputTag" type="file"/>
                        
                        <span id="imageName"></span>
                      </label>
                   </div>
                   <div class="form-group">
                       <button type="submit" class="btn text-dark update">Update User</button>
                   </div>
                   
               </div>
            </form>
        </div>
    </main>

   
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script> -->
    <script src="/js/index.js"></script>
</body>
</html>